<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Регистрация и Вход</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles/form-style.css}">
    <!--    <link rel="icon" th:href="@{/styles/logo.ico}" type="image/x-icon">-->
</head>
<body>
    <div class="contentlog">
        <div class="main-wrap">
            <div class="main-wrap-logo"></div>
            <a class="btn-ref-1" th:href="@{/registration}">Зарегистрироваться</a>
            <a class="btn-ref-2" th:href="@{/login}">Войти</a>
        </div>
    </div>
</body>
</html>

