<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
<!--    <link rel="stylesheet"-->
<!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!--    <script-->
<!--            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script th:src="@{jvs/my.js}"></script>

    <!-------TEST------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/mytest.css}">
    <link rel="stylesheet" th:href="@{/styles/header-style.css}">

    <link rel="stylesheet" th:href="@{/styles/slider.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script th:src="@{jvs/slick.min.js}"></script>
    <script th:src="@{jvs/slider.js}"></script>


    <!-------TEST------------>
</head>

<header>

    <div class="header-wrapper">

        <div class="header-row row">
            <div class="header-logo-wrapper">
                <a th:href="@{/main}" >
                    <div class="header-logo-back"></div>
                    <!--
                       <img alt="logo"  th:src="@{/images/logo.png}" src="/Без названия615_20250506170303.png" id="header-logo">
                       -->
                </a>
            </div>

            <div class="header-nav-wrapper">
                <nav>
                    <ul>
                        <li><div><a th:href="@{/statistics}">Статистика</a></div></li>
                        <li><div><a th:href="@{/recipes}">Рецепты</a></div></li>
                        <li><div class="nav-profile">
                            <a th:href="@{/profile}">Профиль</a>
                            <a th:href="@{/profile}">
                                <img alt="logo" th:src="${avatar}" id="profile-logo">
                            </a>
                        </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</header>

<body>
    <div class="header">
        <nav>
            <ul class="px-3 mx-sm-2">
                <li><a th:href="@{/profile}">Профиль</a></li>
                <li><a th:href="@{/recipes}">Рецепты</a></li>
                <li><a th:href="@{/statistics}">Статистики</a></li>
                <li><form th:action="@{/logout}" method="post">
                    <input type="submit" value="Выйти"/>
                </form></li>
            </ul>
        </nav>
    </div>

<div class="block-main container">

    <div class="date-wrapper d-flex">

        <div class="date-control order-2">
            <form th:action="@{/main}" method="get">
                <div class="row">
                    <label for="inputDate"></label>
                    <div class="date-content col-12">
                        <input type="date" id="inputDate" name="inputDate" th:value="${inputDate != null ? inputDate: ''}"/>
                    </div>
                    <div class="date-content col-12">
                        <button class="df" type="submit">Посмотреть</button>
                    </div>
                </div>
            </form>
            
        </div>

        <div class="selected-date order-1">
            <h1 th:text="${SHOWDate}">!@.u3.8243</h1>
        </div>

    </div>

    <span th:text="${sumCalories}"></span>
    <span>/</span>
    <span th:text="${caloriesNum}"></span>
    <br>
    <span>Белки: </span>
    <span th:text="${sumBel}"></span>
    <span>/</span>
    <span th:text="${belNum}"></span>
    <br>
    <span>Жиры: </span>
    <span th:text="${sumFats}"></span>
    <span>/</span>
    <span th:text="${fatsNum}"></span>
    <br>
    <span>Углеводы: </span>
    <span th:text="${sumCh}"></span>
    <span>/</span>
    <span th:text="${chNum}"></span>
    <br>


    <div class="meals">
        <div class="row">

            <div class="meal-wrapper col-lg-4 col-md-12">
                <div class="meal">
                    <div class="meal-name">
                        <h2>Завтрак</h2>
                    </div>
                    <div class="meal-content">
                        <div th:each="mfi, iterStat : ${brfmfi}">
                            <span th:text="${mfi}"></span>
                            <span th:unless="${iterStat.last}">,</span>
                        </div>
                        <!--по этой кнопке открывается поиск продуктов -->

                        <button id="BreakfastAdd">Добавить</button>
                        <button id="BreakfastShow">Посмотреть</button>
                        <div class="out">
                            <div id="formSearchingContainer1"></div>
                            <div class="results container row"></div>
                        </div>
                        <div class="show">
                            <div id="showContainerBF"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="meal-wrapper col-lg-4 col-md-12">
                <div class="meal">
                    <div class="meal-name">
                        <h2>Обед</h2>
                    </div>
                    <div class="meal-content">
                        <div th:each="mfi, iterStat : ${lnchmfi}">
                            <span th:text="${mfi}"></span>
                            <span th:unless="${iterStat.last}">,</span>
                        </div>
                        <!--    по этой кнопке открывается поиск продуктов -->
                        <button id="LunchAdd">Добавить</button>
                        <button id="LunchShow">Посмотреть</button>
                        <div class="out">
                        <div id="formSearchingContainer2"></div>
                        <div class="results container row"></div>
                        </div>
                        <div class="show">
                        <div id="showContainerL"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="meal-wrapper col-lg-4 col-md-12">
                <div class="meal">
                    <div class="meal-name">
                        <h2>Ужин</h2>
                    </div>
                    <div class="meal-content">
                        <div th:each="mfi, iterStat : ${dnmfi}">
                            <span th:text="${mfi}"></span>
                            <span th:unless="${iterStat.last}">,</span>
                        </div>
                        <!--    по этой кнопке открывается поиск продуктов -->
                        <button id="DinnerAdd">Добавить</button>
                        <button id="DinnerShow">Посмотреть</button>
                        <div class="out">
                                <div id="formSearchingContainer3"></div>
                                <div class="results container row"></div>
                        </div>
                        <div class="show">
                            <div id="showContainerD"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="body_measure-wrapper">
        <div class="body_measure">
            <form action="/main" method="post">
                <button type="button" id="minus">-</button>
                <label>
                    <input name="currentWeight" class="currentWeight" th:value="${currentWeight}"></label>
                <label><input type=hidden name="shDt" class="shDT" th:value="${SHOWDate}"></label>
                <button type="button" id="plus">+</button>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>

    <div th:if="${rec.isEmpty()}">
        <p>Рекомендаций нет</p>
    </div>
        <div th:if="${!rec.isEmpty()}" class="wrapper">
            <div class="slider">
                <div th:each="it : ${rec}" class="slider_item">
                    <a th:href="@{/recipes(recipeId=${it.id})}"><img th:src="${it.imageUrl}" alt="" width="150"></a>
                    <p th:text="${it.name}"></p>
<!--                    <span th:text="${it.calories}"></span>-->
                </div>
            </div>
        </div>

</div>

</body>

</html>
