<html>
<head>
    <title>Main Page</title>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <script src="jvs/my.js"></script>
</head>
<body>
    <h1>Сводка</h1>
    <p>Цель по калориям на сегодня:</p>
    <div class="container">
    <!--    калории указанные в таблице для пользователя&ndash;-->
        <h2><span class="calorie-count">{{currentCalories}}/{{calorieCount}}</span></h2>
<!--        <p>Потреблено калорий сегодня</p>-->
<!--        <h3>{{currentCalories}}</h3>-->
    </div>
    <div class="meals">
        <h2>Завтрак</h2>
    <!--    по этой кнопке открывается поиск продуктов -->
        <button id="BreakfastAdd">Добавить</button>
        <button id="BreakfastShow">Посмотреть</button>
        <div class="out">
        <div id="formSearchingContainer1"></div>
        <div class="results"></div>
        </div>
        <div class="show">
            <div id="showContainerBF"></div>
        </div>

        <h2>Обед</h2>
        <!--    по этой кнопке открывается поиск продуктов -->
        <button id="LunchAdd">Добавить</button>
        <button id="LunchShow">Посмотреть</button>
        <div class="out">
        <div id="formSearchingContainer2"></div>
        <div class="results"></div>
        </div>
        <div class="show">
        <div id="showContainerL"></div>
        </div>

        <h2>Ужин</h2>
        <!--    по этой кнопке открывается поиск продуктов -->
        <button id="DinnerAdd">Добавить</button>
        <button id="DinnerShow">Посмотреть</button>
        <div class="out">
        <div id="formSearchingContainer3"></div>
        <div class="results"></div>
        </div>
        <div class="show">
            <div id="showContainerD"></div>
        </div>

    </div>
<!--<h1> Ввод</h1>-->
<!--    <form method="post" action="add">-->
<!--        <input type="text" name="name" placeholder="Введите название продукта" />-->
<!--        <input type="text" name="calories" placeholder="Введите калорийность" />-->
<!--        <input type="text" name="bel" placeholder="Введите количество белков" />-->
<!--        <input type="text" name="fats" placeholder="Введите количество жиров" />-->
<!--        <input type="text" name="ch" placeholder="Введите количество углеводов" />-->
<!--        <input type="text" name="servingSize" placeholder="Введите размер порции" />-->
<!--        <input type="text" name="servingUnit" placeholder="Единицы измерения размера " />-->
<!--        <button type="submit">Добавить</button>-->
<!--    </form>-->
<!--    <form method="get" action="filter">-->
<!--        <input type="text" name="filter">-->
<!--        <button type="submit">Найти</button>-->
<!--    </form>-->
<!--    <h1> Вывод  </h1>-->
<!--    {{#products}}-->
<!--    <div>-->
<!--        <div class="out"><b> {{id}}</b>-->
<!--        <span> {{name}}</span>-->
<!--        <i>{{calories}}</i>-->
<!--        <i> {{bel}}</i>-->
<!--        <i> {{fats}}</i>-->
<!--        <i> {{ch}}</i>-->
<!--            <i>{{servingSize}}</i>-->
<!--            <i>{{servingUnit}}</i>-->
<!--        </div>-->
<!--    </div>-->
<!--    {{/products}}-->
</body>

</html>