<html>
<head>
    <title>Main Page</title>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script src="jvs/my.js"></script>
</head>
<body>
    <div class="header">
        <nav>
            <ul class="px-3 mx-sm-2">
                <li><a th:href="@{/profile}">Профиль</a></li>
                <li><a th:href="@{/recipes}">Рецепты</a></li>
                <li><a th:href="@{/statistics}">Статистики</a></li>
                <li><form th:action="@{/logout}" method="post">
                    <input type="submit" value="Выйти"/>
                </form></li>
            </ul>
        </nav>
    </div>
    <div class="date-control">
        <form th:action="@{/main}" method="get">
            <label for="inputDate">Дата: </label>
            <input type="date" id="inputDate" name="inputDate" th:value="${inputDate != null ? inputDate: ''}"/>
            <button class="df" type="submit">Посмотреть</button>
        </form>
    </div>
    <h1 th:text="${SHOWDate}"></h1>
    <span th:text="${sumCalories}"></span>
    <span>/</span>
    <span th:text="${caloriesNum}"></span>
    <br>
    <span>Белки: </span>
    <span th:text="${sumBel}"></span>
    <span>/</span>
    <span th:text="${belNum}"></span>
    <br>
    <span>Жиры: </span>
    <span th:text="${sumFats}"></span>
    <span>/</span>
    <span th:text="${fatsNum}"></span>
    <br>
    <span>Углеводы: </span>
    <span th:text="${sumCh}"></span>
    <span>/</span>
    <span th:text="${chNum}"></span>
    <br>
    <div class="meals">
        <h2>Завтрак</h2>
        <div th:each="mfi, iterStat : ${brfmfi}">
            <span th:text="${mfi}"></span>
            <span th:unless="${iterStat.last}">,</span>
        </div>
    <!--    по этой кнопке открывается поиск продуктов -->

        <button id="BreakfastAdd">Добавить</button>
        <button id="BreakfastShow">Посмотреть</button>
        <div class="out">
        <div id="formSearchingContainer1"></div>
        <div class="results"></div>
        </div>
        <div class="show">
            <div id="showContainerBF"></div>
        </div>

        <h2>Обед</h2>
        <div th:each="mfi, iterStat : ${lnchmfi}">
            <span th:text="${mfi}"></span>
            <span th:unless="${iterStat.last}">,</span>
        </div>
        <!--    по этой кнопке открывается поиск продуктов -->
        <button id="LunchAdd">Добавить</button>
        <button id="LunchShow">Посмотреть</button>
        <div class="out">
        <div id="formSearchingContainer2"></div>
        <div class="results"></div>
        </div>
        <div class="show">
        <div id="showContainerL"></div>
        </div>

        <h2>Ужин</h2>
        <div th:each="mfi, iterStat : ${dnmfi}">
            <span th:text="${mfi}"></span>
            <span th:unless="${iterStat.last}">,</span>
        </div>
        <!--    по этой кнопке открывается поиск продуктов -->
        <button id="DinnerAdd">Добавить</button>
        <button id="DinnerShow">Посмотреть</button>
        <div class="out">
        <div id="formSearchingContainer3"></div>
        <div class="results"></div>
        </div>
        <div class="show">
            <div id="showContainerD"></div>
        </div>

    </div>
    <div class="body_measure">
        <form action="/main" method="post">
            <button type="button" id="minus">-</button>
            <label>
                <input name="currentWeight" class="currentWeight" th:value="${currentWeight}"></label>
            <label><input type=hidden name="shDt" class="shDT" th:value="${SHOWDate}"></label>
            <button type="button" id="plus">+</button>
            <button type="submit">Сохранить</button>
        </form>
    </div>

</body>

</html>