<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles/header-style.css}">
    <link rel="stylesheet" th:href="@{/styles/profile-style.css}">

    <link rel="stylesheet" href="./profile-style.css">
    <link rel="stylesheet" href="./header-style.css">
    <script th:src="@{jvs/my.js}"></script>
</head>

<header>

    <div class="header-wrapper">

        <div class="header-row row">
            <div class="header-logo-wrapper">
                <a th:href="@{/main}" >
                    <div class="header-logo-back"></div>
                    <!--
                       <img alt="logo"  th:src="@{/images/logo.png}" src="/Без названия615_20250506170303.png" id="header-logo">
                       -->
                </a>
            </div>

            <div class="header-nav-wrapper">
                <nav>
                    <ul>
                        <li><div><a th:href="@{/statistics}">Статистика</a></div></li>
                        <li><div><a th:href="@{/recipes}">Рецепты</a></div></li>
                        <li><form th:action="@{/logout}" method="post">
                            <input type="submit" value="Выйти"/>
                        </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</header>

<body>
<div class="profile-page-container container">

    <div class="profile-container" th:if="${editProfileMode == false}">
        <span class="profile-login" th:text="${UI.usr.username}"></span>
        <h1>Профиль</h1>

        <div class="profile-main-info">
            <img th:src="${UI.imageUrl}" th:alt="${UI.getUsr().getUsername()}" width="150px">
            <div class="name-info">
                <div class="profile-item">
                    <span class="profile-label"></span>
                    <span th:text="${UI.firstName}"></span>
                </div>

                <div class="profile-item">
                    <span class="profile-label"></span>
                    <span th:text="${UI.lastName}"></span>
                </div>
            </div>
        </div>

        <div class="profile-item">
            <span class="profile-label">Дата рождения:</span>
            <span class="profile-span" th:text="${#dates.format(UI.dateOfBirth, 'dd.MM.yyyy')}"></span>
        </div>

        <div class="profile-item">
            <span class="profile-label">Пол:</span>
            <span class="profile-span" th:text="${UI.gender}"></span>
        </div>

        <div class="profile-item">
            <span class="profile-label">Рост (см):</span>
            <span class="profile-span" th:text="${UI.heightCm}"></span>
        </div>

        <div class="profile-item">
            <span class="profile-label">Уровень активности:</span>
            <span class="profile-span" th:text="${UI.activityLevel}"></span>
        </div>
        <button class="edit-button" onclick="location.href='/profile/editMainInfo'">Редактировать</button>
    </div>

    <div class="profile-container" th:if="${editProfileMode == true}">

        <form action="/profile/MainInfoSave" method="post" enctype="multipart/form-data">
            <span class="profile-login" th:text="${UI.usr.username}"></span>
            <h1>Профиль</h1>

            <label class="custom-file-upload form-label">
                Фотография профиля:
                <input type="file" name="coverImage" accept="image/*"/>
                <span>Выбрать файл</span>
            </label>

            <div class="form-group">
                <label class="form-label" for="firstName">Имя:</label>
                <input type="text" class="form-input" id="firstName" name="firstName" th:value="${UI.firstName}"/>
                <span th:if="${firstNameError != null}" th:text="${firstNameError}" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label class="form-label" for="lastName">Фамилия:</label>
                <input type="text" class="form-input" id="lastName" name="lastName" th:value="${UI.lastName}"/>
                <span th:if="${lastNameError != null}" th:text="${lastNameError}" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="dateOfBirth">Дата рождения:</label>

                <input type="date" class="form-input" id="dateOfBirth" name="dateOfBirth" th:value="${UI.dateOfBirth}"/>
                <!--
                <input type="date" class="form-input" id="dateOfBirth" name="dateOfBirth" th:value="${UI.dateOfBirth}"/>
               -->

                <span th:if="${dateOfBirthError != null}" th:text="${dateOfBirthError}" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="gender">Пол:</label>
                <select class="form-input" id="gender" name="gender" required>
                    <option value="" disabled selected>Выберите пол</option>
                    <option value="Мужской" th:selected="${UI.gender == 'Мужской'}">Мужской</option>
                    <option value="Женский" th:selected="${UI.gender == 'Женский'}">Женский</option>
                </select>
                <span th:if="${genderError != null}" th:text="${genderError}" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="heightCm">Рост (см):</label>
                <input type="number" class="form-input" id="heightCm" name="heightCm" th:value="${UI.heightCm}"/>
                <span th:if="${heightCmError != null}" th:text="${heightCmError}" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="activityLevel">Уровень активности:</label>
                <select class="form-input" id="activityLevel" name="activityLevel" required>
                    <option value="Сидячий" th:selected="${UI.activityLevel == 'Сидячий'}">Сидячий</option>
                    <option value="Легкая активность" th:selected="${UI.activityLevel == 'Легкая активность'}">Легкая активность</option>
                    <option value="Умеренная активность" th:selected="${UI.activityLevel == 'Умеренная активность'}">Умеренная активность</option>
                    <option value="Высокая активность" th:selected="${UI.activityLevel == 'Высокая активность'}">Высокая активность</option>
                    <option value="Очень высокая активность" th:selected="${UI.activityLevel == 'Очень высокая активность'}">Очень высокая активность</option>
                </select>
                <span th:if="${activityLevelError != null}" th:text="${activityLevelError}" class="text-danger"></span>
            </div>
            <button type="submit" class="edit-button">Сохранить</button>
            <button type="button" class="edit-button" onclick="location.href='/profile'">Отменить изменения</button>
        </form>
    </div>

    <div th:if="${editMode == false}">
        <div class="purposes-container">
            <h2>Цели</h2>
            <div class="purposes-item">
                <span class="purposes-label">Цель: </span>
                <span class="purpose-span" th:text="${UI.purpose}"></span>
            </div>
            <div class="purposes-item">
                <span class="purposes-label">Калории: </span>
                <span class="purpose-span" th:text="${UI.caloriesnum}"></span>
            </div>
            <div class="purposes-item">
                <span class="purposes-label">Текущий вес: </span>
                <span class="purpose-span" th:text="${UI.weightKg}"></span>
            </div>
            <div class="purposes-item" th:if="${UI.purpose == 'похудение'}">
                <span class="purposes-label">Желаемый вес: </span>
                <span class="purpose-span" th:text="${UI.desiredWeight}"></span>
            </div>
            <button class="edit-button" onclick="location.href='/profile/editPurposes'">Редактировать</button>
        </div>


    </div>

    <div th:if="${editMode == true}">
        <div class="purposes-container-edit">
            <form action="/profile/save" method="post">
                <div class="form-group">
                    <label class="form-label" for="purpose">Цель:</label>
                    <input type="text" class="form-input" id="purpose" name="purpose" th:value="${UI.purpose}"/>
                    <span th:if="${purposeError != null}" th:text="${purposeError}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="caloriesNum">Калории:</label>
                    <input type="number" class="form-input" id="caloriesnum" name="caloriesnum" th:value="${UI.caloriesnum}"/>
                    <span th:if="${caloriesNumError != null}" th:text="${caloriesNumError}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="weightKg">Текущий вес:</label>
                    <input type="number" step="0.01" class="form-input" id="weightKg" name="weightKg" th:value="${UI.weightKg}"/>
                    <span th:if="${weightKgError != null}" th:text="${weightKgError}" class="text-danger"></span>
                </div>
                <div class="form-group" th:if="${UI.purpose == 'похудение'}">
                    <label class="form-label" for="desiredWeight">Желаемый вес:</label>
                    <input type="number" step="0.01" class="form-input" id="desiredWeight" name="desiredWeight" th:value="${UI.desiredWeight}"/>
                    <span th:if="${desiredWeightError != null}" th:text="${desiredWeightError}" class="text-danger"></span>
                </div>
                <button type="submit" class="edit-button">Сохранить</button>
                <button type="button" class="edit-button" onclick="location.href='/profile'">Отменить изменения</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>