header{
    background: linear-gradient(45deg,  #ff94c4, #f4a3fa, #d4a3fa);
    background-color: #ffffff;
    width: 100%;
}
.header-wrapper{
    position: relative;
    width: 100%;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
}
.header-wrapper>.header-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-nav-wrapper{
    display: flex;
    justify-content: center;
    background-color: #fb88d8;
}
.header-nav-wrapper>nav{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.header-nav-wrapper>nav>ul{
    display: flex;
    max-width: 100%;
    padding: 0px;
    height: max-content;
    list-style-type:none;
}
.header-nav-wrapper>nav>ul>li{
    display: flex;
    align-items: center;
    padding: 3px;
    text-align: center;
    min-height:100%;
    background-color: rgb(240, 255, 255);
}
.nav-profile{
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}



#profile-logo{
    position: relative;
    /*background: linear-gradient(45deg,  #ff69ad, #ffc4e2, #d4a3fa);*/
    width: 50px;
    height: auto;
    transition: scale 300ms;
}
#profile-logo:hover{
    scale: 0.9;
}
/* LOGO */
.header-logo-back{
   background-color: rgba(0, 0, 0, 0.297);
   min-width: 120px;
   min-height: 120px;
   background-image: url("../images/l2.png");
   background-size: cover;
   background-repeat: no-repeat;
   transition: background-image 0.1s ease;
}
.header-logo-back:hover{
    background-image: url("../images/l1.png");
}
.header-logo-wrapper{
    padding: 5px;
}
#header-logo{
    position: relative;
    /*background: linear-gradient(45deg,  #ff69ad, #ffc4e2, #d4a3fa);*/
    width: 120px;
    height: auto;
    transition: scale 300ms;
}
#header-logo:hover{
    filter: drop-shadow( 0px 0px 10px #ffffff);
    scale: 0.8;
    animation: animate 0.5s linear infinite;
}
@keyframes animate{
    0%
    {
    transform: rotate(0deg);
    }
    100%
    {
    transform: rotate(360deg);
    }
}
