body{
    background-color: #ffffff;
    background: linear-gradient(0deg,  #ff94c470, #ffbbaa70, #ffffff00);
}
header{
   /*
    background: linear-gradient(45deg,  #ff94c4, #f4a3fa, #d4a3fa);
    */
    background: linear-gradient(to right, #ff8db3, #faa3c0, #f8e2a7cc);
    background-color: #f8a7c2;
    height: 160px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
}
.header-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
}
.header-wrapper>.header-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-nav-wrapper{
    display: flex;
    justify-content: center;
}
.header-nav-wrapper>nav{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.header-nav-wrapper>nav>ul{
    display: flex;
    max-width: 100%;
    padding: 0px;
    /*height: max-content;*/
    list-style-type:none;
    /*
    background: linear-gradient(45deg,  #ff94c4, #faa3ce, #faf1a3);
    background-color: rgb(240, 255, 255);
    */
    border-radius: 0px 0px 15px 15px;
}
.header-nav-wrapper>nav>ul>li{
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 8px;
    text-align: center;
    min-height:100%;
}
.header-nav-wrapper>nav>ul>li>div>a{
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
    color:#2e121e;
}
.header-nav-wrapper form{
    height: 39px;
    vertical-align: middle;
    text-align: center;
}
.header-nav-wrapper form input{
    height: 100%;
    text-align: center;
    border-style: none;
    background-color: #00000000;
    padding: 0px;
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
    color:#2e121e;
    margin-top:0;
}
.nav-profile{
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}
.nav-selected{
    position: relative;
    z-index: 1;
}
.nav-selected>div{
    position: relative;
    z-index: 3;
}
.nav-selected::after{
    content: "";
    position: absolute;
    height:inherit;
    width:inherit;
    margin: 3px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    background-color: #ffffff7e;
    border-radius: 5px 15px 5px 15px;
}



#profile-logo{
    position: relative;
    /*background: linear-gradient(45deg,  #ff69ad, #ffc4e2, #d4a3fa);*/
    width: 50px;
    height: auto;
    transition: scale 300ms;
}
#profile-logo:hover{
    scale: 0.9;
}
/* LOGO */
.header-logo-back{
   min-width: 150px;
   min-height: 150px;
   background-image: url("../images/l2.png");
   background-size: cover;
   background-repeat: no-repeat;
   transition: background-image 0.1s ease;
}
.header-logo-back:hover{
    background-image: url("../images/l1.png");
}
.header-logo-wrapper{
    padding: 5px;
}
#header-logo{
    position: relative;
    /*background: linear-gradient(45deg,  #ff69ad, #ffc4e2, #d4a3fa);*/
    width: 120px;
    height: auto;
    transition: scale 300ms;
}
#header-logo:hover{
    filter: drop-shadow( 0px 0px 10px #ffffff);
    scale: 0.8;
    animation: animate 0.5s linear infinite;
}
@keyframes animate{
    0%
    {
    transform: rotate(0deg);
    }
    100%
    {
    transform: rotate(360deg);
    }
}
