.block-main{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;

}
.out{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 5%;
}
#formSearchingContainer3,
#formSearchingContainer1,
#formSearchingContainer2{
    padding: 5px 2px;
    display: flex;
    align-self: center;
    /* justify-content: center; */
    width: 85%;
}
#formSearchingContainer3>form>button,
#formSearchingContainer2>form>button,
#formSearchingContainer1>form>button{
    padding: 5px;
    /*height: 100%;*/
    max-height: 40px;
    border-radius: 0px 1px 1px 0px;
    background-color: pink;
    border-style: none
}
#formSearchingContainer3>form>button:active,
#formSearchingContainer2>form>button:active,
#formSearchingContainer1>form>button:active,
#formSearchingContainer3>form>button:focus,
#formSearchingContainer2>form>button:focus,
#formSearchingContainer1>form>button:focus{
    border-style: none !important;
    border-width: 0px;
}
#mealTitle{
    display: flex;
    flex-direction: row;
    border: solid 3px #000000;
    border-radius: 5px;
    width: 100%;
}
#formSearchingContainer3>form>button:hover,
#formSearchingContainer2>form>button:hover,
#formSearchingContainer1>form>button:hover{
    background-color: #e26b85;
}
#formSearchingContainer3>form>input,
#formSearchingContainer2>form>input,
#formSearchingContainer1>form>input,
#formSearchingContainer3>form>input:focus,
#formSearchingContainer2>form>input:focus,
#formSearchingContainer1>form>input:focus{
    max-height: 40px;
    padding: 5px;
    padding-right: 0px;
    border-style: none;
    width: 100%;
}
.results{
    display: flex;
    align-self: center;
    /*min-height: 180px;*/
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    color:black;
    padding: 0px !important;
}
.result-cont{
    position: relative;
    align-self: center;
    height: 200px;
    min-width: 85% ;
    max-width: 85% !important;
    overflow-y: scroll;
    margin: auto;
    padding-left: 5px !important;
    padding-right: 0px !important;

    border-radius: 10px;
    border: solid 2px #ddd2d5;
    background-color:#ffffff;
}
.addform{
    overflow-y: hidden;
    vertical-align: middle;
    height: auto;
}
.result-cont #addForm{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
}
.result-cont p{
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0px;
}
#quantity{
    max-width: 105px;
    border-radius: 5px;
}
#quantity:focus{
    border-style:none;
}
.hideProductButton-class{
    margin-top: 10px;
    width: 100%;
    display: flex;
}
.found-product{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    vertical-align: middle;
    padding: 5px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #e9e9e9;
}
.found-product-table{
    border-collapse: separate;
    width: 100%;
    margin: auto;
}
.result-cont input, .result-cont select{
    max-width: 90px;

    border-radius: 10px;
    border: solid 3px #fea4b8;
    background-color: #ffffff00;
    color: #ff8db3;
}
.result-cont thead{
    position: sticky;
    width: 100%;
    top: 0px;
    background: #ffffff;
}
.result-cont thead tr{
    min-width: 100% !important;
}
.result-cont th {
    text-align: center;
    overflow: hidden;
}
.result-cont tbody{
    padding-top: 30px;
}
.result-cont tr {
    border-radius: 25px;
    overflow: hidden;
}
.result-cont tr td{
    border-style: none;
    border-radius: 2px;
    background-color: #ffeaef;
    padding: 3px;
    text-align: center;
}
.found-product-info{
    max-width: 90%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.found-product-add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}
.found-product-info span{
    padding: 0px 3px;
}
.addProductButton, .found-product-table button{
    width: 35px;
    height: 35px;
    background-image: url("../images/plus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff8db3;
    border: solid 3px #ff8db3;
    border-radius: 50%;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.result-cont .addProductButton-2{
    border-radius: 10px;
    border: solid 3px #ff8db3;
    background-color: #ffffff00;
    color: #ff8db3;
    font-weight: 500;
}
/*
.addProductButton-wrapper::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;
    min-width: 38px;
    min-height: 38px;
    border-radius: 50%;
    background-color: #ff93a9f7;
}*/
.found-product>input{
    border-radius: 5px;
    border-color: #ce6387;
}
.found-product>button:hover{
    background-color: #e26b85;
    color: #ffffff;
}
.results>::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border-width: 0px;
    background-color: #ffffff;
}
.results>::-webkit-scrollbar-thumb {
    border-radius: 45px;
    border-width: 0px;
    background: #f8a7c2;
}
.results>::-webkit-scrollbar-button {
    height: 0px;
    background-color: #ffffff;
}

.hideProductButton, .hideShowContButton{
    min-height: 34px;
    max-height: 40px;
    min-width: 30px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

    border-radius: 5px;
    border-width: 3px;
    border-color:#df7f9f;
    background-color: #ffc0d1;
}
.hideProductButton:hover{
    background-color: #e26b85;
}
deleteProductButton{
    border-radius: 10px;
    border: solid 3px;
    background-color: #ffc0d1;
}

.meals{
    max-width: 100%;
}
.meals>.row{
    max-width: 100%;
    margin: auto;
}
.meal-wrapper{
    padding: 3px 0px !important;
    background-color: #ffffff;
}
.meal{
    position: relative;
    padding: 0px;
    background-color: rgb(255, 255, 255);

    border-radius: 10px;
    border: solid 2px #ddd2d5;

    width: 100%;
    overflow: hidden;
}
.meal-responsive-div{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.meal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.meal-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    max-height: 106px;
}
.meal-name{
    color:#fffbfc;
    text-align: center;
    /*width: 50%;*/
    max-height: 64px;
    padding:5px;
    background: linear-gradient(to right, #ff8db3, #faa3c0, #f8e2a7cc);
    background-color: #f8a7c2;
    border-radius: 10px 0px 70px 5px;
}
.meal-name>h2{
    font-size: 32px;
    font-weight: 700;
}
.meal-content{
    margin: 5px;
}
.products-list-wrapper{
    padding: 15px;
}
#BreakfastAdd, #BreakfastShow,
#LunchAdd, #LunchShow,
#DinnerAdd, #DinnerShow{
    margin: 4px;
}
/*    color:#4d1924;*/
/*    font-weight: 600;*/
/*    border-radius: 5px;*/
/*    border-width: 0px;*/
/*    padding: 5px;*/
/*    background: linear-gradient(to right, #ff8db3, #faa3c0);*/
/*    background-color: #f8a7c2;*/
/*    transition: scale 300ms;*/
/*}*/
#BreakfastAdd:hover, #BreakfastShow:hover,
#LunchAdd:hover, #LunchShow:hover,
#DinnerAdd:hover, #DinnerShow:hover{
    scale: 0.9;
}
/*----------------------*/
.flatpickr-calendar {
    background: #fff !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px !important;
}

.flatpickr-day {
    font-size: 14px !important;
    color: #333 !important;
}
.flatpickr-day.disabled{
    background-color: #4d1924 !important;
}
.flatpickr-day:hover, .flatpickr-day.today:hover, .flatpickr-day.disabled:hover {
    background-color: #fda9c546 !important;
    border-style: none !important;
    box-shadow: 5px 3px 10px #e26b8592 !important;
    color: #333 !important;
}
.flatpickr-day.selected {
    background: linear-gradient(120deg, #ff8db3, #faa3c0, #fae3a3b7) !important;
    background-color: #f8a7c2 !important;
    color:#fffbfc !important;
    border-style: none !important;
}
.flatpickr-day.selected:hover {
    background: linear-gradient(120deg, #ff8db39c, #faa3c096, #fae3a3b7) !important;
    background-color: #ffffff !important;
    color:#fffbfc !important;
    border-style: none !important;
    box-shadow: 5px 3px 10px #e26b8592 !important;
}
.flatpickr-day.today{
    border-radius: 2px !important;
    border-color: #f8a7c2 !important;
    border-radius: 100% !important;
}
/*
.cur-year{
    background-color: #e26b85 !important;
}*/
.arrowup, .arrowdown{
    background-color: #ffffff !important;
}
.flatpickr-weekdays{
    background: linear-gradient(to right, #ff8db39c, #faa3c096, #fae3a3b7) !important;
    background-color: #ffffff !important;
}
.flatpickr-weekday {
    color: #5d202cbb !important;
}
#inputDate:focus {
    outline: none !important;
    border-color: #e26f95 !important;
    box-shadow: 0 0 5px rgba(255, 156, 212, 0.81) !important;
}
.selected-date{
    position: relative;
    padding: 10px;
    margin: 0px;
    background: linear-gradient(45deg,  #ff8db3, #faa3c0, #fae3a3);
    background-color: #ffffff;
    border-radius: 48px 5px 48px 5px;
    max-height: 92px;
    z-index: 6;
}
.selected-date>h1{
    position: relative;
    padding: 10px;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 44px 5px 43px 5px;
    max-height: 92px;
    z-index: 2;
}
.date-wrapper{
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
}
.date-control>form{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.date-control>form>.row{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 0px;
}
.date-control>form>.row>.date-content{
    display: flex;
    justify-content:space-around;
}
.date-control>form>div>.flatpickr-input{
    margin: auto;
    background-color: #a71f4c;
}
#inputDate{
    border-radius: 10px;
    border: solid 3px #ff8db3;
    background-color: #ffffff00;
    color: #da648b;
    font-weight: 500;
    text-align: center;
    margin: 0px 5px;
}
.df{
    border-radius: 10px;
    border: solid 3px #ff8db3;
    background-color: #ffffff00;
    color: #ff8db3;

    font-weight: 500;
    padding: 10px;
    max-width: 120px;
}
/*-----------------------------------*/
/*-----------------------------------*/
#showContainerBF h3,
#showContainerL h3,
#showContainerD h3{
    text-align: center;
}
#showContainerBF,
#showContainerL,
#showContainerD{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}
#showContainerBF .product-table,
#showContainerL .product-table,
#showContainerD .product-table{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #ffffff00;
    border-collapse: separate;
    border-spacing: 3px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
#showContainerBF .product-table th,
#showContainerL .product-table th,
#showContainerD .product-table th{
    background-color: #fea4b8;
    border-radius: 2px;
    padding: 2px;
}
#showContainerBF td,
#showContainerL td,
#showContainerD td{
    padding: 3px;
}
#showContainerBF tbody tr,
#showContainerL tbody tr,
#showContainerD tbody tr{
    background-color: #ffeaef;
}
#showContainerBF td,
#showContainerL td,
#showContainerD td{
    border-radius: 2px;
}
#showContainerBF tr:hover,
#showContainerL tr:hover,
#showContainerD tr:hover {
    background-color: #fff5f8 !important;
}
.deleteProductButton {
    width: 30px;
    height: 30px;
    background-image: url("../images/minus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f68ea5;
    border: solid 3px #f68ea5;
    border-radius: 50%;
    padding: 0px;
}
.deleteProductButton:hover {
    background-color: #e15e8a;
    border: solid 3px #e15e8a;
}
.no-meals-data{
    text-align: center;
    background-color: #ffeaef;
    border-radius: 5px;
    width: 85%;
    margin: auto;
}
/*-----------------------------------*/
.body-measure-wrapper{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 2px #ddd2d5;
}
.body-measure{
    padding: 15px;
}
.body-measure>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}
.redact-body-measure{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}
.redact-body-measure>button{
    padding: 5px;
    margin: 2px 5px;
    height: 100%;
    border-style: none;
    background-color: #faa3c0;
}
.redact-body-measure>label{
    margin: 2px 5px;
}
#body-measure-hidden-id{
    display: none !important;
    margin: 0px !important;
    padding: 0px !important;
}
.redact-body-measure>input{
    height: 100%;
    border: solid 3px #bcbcbc;
    border-radius: 10px;
}
#body-measure-button{
    align-self: center;
    padding: 10px;
    max-width: 120px;

    border-radius: 10px;
    border: solid 3px #ff8db3;
    background-color: #ffffff00;
    color: #ff8db3;
    font-weight: 500;
}
.body-measure h4{
    text-align: center;
}
#plus{
    width: 35px;
    height: 35px;
    background-image: url("../images/plus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff8db3;
    border: solid 3px #ff8db3;
    border-radius: 50%;
    padding: 0px;
}

button.sh{
    width: 35px;
    height: 35px;
    background-image: url("../images/show.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff8db3;
    border: solid 3px #ff8db3;
    border-radius: 50%;
    padding: 0px;
}
button.hid{
    width: 35px;
    height: 35px;
    background-image: url("../images/hide.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff8db3;
    border: solid 3px #ff8db3;
    border-radius: 50%;
    padding: 0px;
}
button.plus{
    width: 35px;
    height: 35px;
    background-image: url("../images/plus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff8db3;
    border: solid 3px #ff8db3;
    border-radius: 50%;
    padding: 0px;
}
#minus, .deleteProductButton{
    width: 35px;
    height: 35px;
    background-image: url("../images/minus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff8db3;
    border: solid 3px #ff8db3;
    border-radius: 50%;
    padding: 0px;
}

button.minus{
    width: 35px;
    height: 35px;
    background-image: url("../images/minus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff8db3;
    border: solid 3px #ff8db3;
    border-radius: 50%;
    padding: 0px;
}
.currentWeight{
    height: 100%;

    border-radius: 10px;
    border: solid 3px #ff8db3;
    background-color: #ffffff00;
    color: #da648b;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
/*-----calories info---*/
.calories-info{
    border-radius: 10px;
    border: solid 2px #ddd2d5;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.calories-block{
    display: flex;
    justify-content: center;
}
.calories-text-wrapper{
    padding: 6px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.calories-text{
    color:#868686;
    font-size: 20px;
    font-weight: 500;
}
.calories-num{
    color:#292929;
    font-size: 22px;
    font-weight: 500;
}
.calories-chart-wrapper{
    margin: 0px 10px;
}
.calories-chart {
    display:flex;
    z-index: 1;
    position: relative;
    vertical-align: middle;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;

    --angle: calc(var(--value) / var(--total) * 360deg);
    background-image: conic-gradient(
            #fdd075 0 var(--angle),
            rgba(240, 240, 240, 0) var(--angle) 360deg
    );
    /*
    --angle: calc(var(--value) / var(--total) * 360deg + 180deg);
    --angle2: calc((var(--value) / var(--total) * 360deg) - 180deg);
  background-image: conic-gradient(
    #fdd075 0 var(--angle),
    rgba(240, 240, 240, 0) var(--angle) 360deg,
    #fdd075 0 var(--angle2),
    rgba(240, 240, 240, 0) var(--angle2) 180deg,
  );
  */
}
.calories-chart::after {
    z-index: 2;
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    top: 10%;
    background-color: #fffcfd;
}
.PFC-wrapper{
    display: flex;
}
.PFC-block{
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}
.PFC-block>h4{
    text-align: center;
    font-size: 20px;
    color:#5c5866;
}
.PFC-progress-bar {
    margin: auto;
    width: 200px;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    --percentage: calc(var(--current) / var(--max) * 100%); /* ÃÂ ÃÂ°Ã‘ÂÃ‘ÂÃ‘â€¡ÃÂ¸Ã‘â€šÃ‘â€¹ÃÂ²ÃÂ°ÃÂµÃÂ¼ ÃÂ¿Ã‘â‚¬ÃÂ¾Ã‘â€ ÃÂµÃÂ½Ã‘â€š */
}
.PFC-progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--percentage);
    background-image: linear-gradient(to right, #fdd075, rgba(246, 158, 181, 0.68));
    border-radius: 10px;
    transition: width 0.3s ease;
}
.PFC-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2b2b30;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}
.PFC-progress-text::after {
    content: attr(data-value);
}
/*--recomendations-block--*/
.recomendations-block{
    margin-top: 10px;
    margin-bottom: 10px;
}
.recomendations-block .rec-text{
    text-align: center;
}
.recomendations-block h2{
    text-align: center;
}