html{
    height: max-content;
    min-height: 100vh;
}
.profile-page-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-container {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}
.profile-container h1{
    text-align: center;
}
.profile-container img{
    text-align: center;
}
.profile-login{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px 2px 8px 2px;
    padding: 10px;
    font-weight: 500;
    background: linear-gradient(to right, #ff8db389, #faa3c06d, #f8e2a774);
    background-color: #ffffff;

}
.profile-main-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
}
.profile-item {
    padding: 5px;
}
.name-info{
    padding: 10px;
    font-size: 28px;
    font-weight: 500;
}
.profile-label {
   font-weight: bold;
   margin-right: 5px;
   font-size: 19px;
}
.profile-span{
    font-size: 18px;
}
input, select{
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.profile-container input[type="text"]:focus,
.profile-container input[type="date"]:focus,
.profile-container input[type="number"]:focus,
.profile-container select:focus {
    border-color: #e26b85;
    outline: none;
    box-shadow: 0 0 5px rgba(172, 54, 93, 0.85);
}

.edit-button{
    margin: auto;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ff8db3;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    transition: background-color 0.3s ease;
    height: 43px;
    border: solid 2px #ff8db3;
}

.edit-button:hover {
/* #e26b85 */
    background-color:#ffffff;
    color: #ff8db3;
    border: solid 2px #ff8db3;
  }

.profile-container .edit-button:focus {
    /* #e26b85 */
    outline:none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    position: relative;
    overflow: hidden;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-file-upload span {
    display: inline-block; /* Чтобы можно было менять текст */
}

/* Дополнительные стили (по желанию) */
.custom-file-upload:hover {
    background-color: #eee;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}



/*------------------------------------*/
.form-label{
    font-size: 18px;
    font-weight: 500;
}

.purposes-container, .purposes-container-edit{
   background-color: #fff;
   padding: 20px;

   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   max-width: 800px;
   margin: auto;
   margin-top:30px;
}
.purposes-label{
    font-weight: bold;
    margin-right: 5px;
    font-size: 19px;
}
.purpose-span{
    font-size: 18px;
}
/*----------------------*/
.flatpickr-calendar {
    background: #fff !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px !important;
}

.flatpickr-day {
    font-size: 14px !important;
    color: #333 !important;
}
.flatpickr-day.disabled{
    background-color: #4d1924 !important;
}
.flatpickr-day:hover,
.flatpickr-day.today:hover,
.flatpickr-day.disabled:hover {
    background-color: #fda9c546 !important;
    border-style: none !important;
    box-shadow: 5px 3px 10px #e26b8592 !important;
    color: #333 !important;
}
.flatpickr-day.selected {
    background: linear-gradient(120deg, #ff8db3, #faa3c0, #fae3a3b7) !important;
    background-color: #f8a7c2 !important;
    color:#fffbfc !important;
    border-style: none !important;
}
.flatpickr-day.selected:hover {
    background: linear-gradient(120deg, #ff8db39c, #faa3c096, #fae3a3b7) !important;
    background-color: #ffffff !important;
    color:#fffbfc !important;
    border-style: none !important;
    box-shadow: 5px 3px 10px #e26b8592 !important;
}
.flatpickr-day.today{
    border-radius: 2px !important;
    border-color: #f8a7c2 !important;
    border-radius: 100% !important;
}
.arrowup,
.arrowdown{
    background-color: #ffffff !important;
}
.flatpickr-weekdays{
    background: linear-gradient(to right, #ff8db39c, #faa3c096, #fae3a3b7) !important;
    background-color: #ffffff !important;
}
.flatpickr-weekday {
    color: #5d202cbb !important;
}
#dateOfBirth:focus {
    outline: none !important;
    border-color: #e26f95 !important;
    box-shadow: 0 0 5px rgba(255, 156, 212, 0.81) !important;
}