.block-main{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;

}
h1{
    text-align: center;
}

.recipe-card {
    transition: transform 0.3s;
    margin-bottom: 20px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: solid 1px #ddd2d5;
}
.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.recipe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block; 
}
.recipe-image-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 -15px 15px -15px;
    width: calc(100% + 30px);
}
.full-recipe-img {
    max-height: 400px;
    object-fit: cover;
}
.filter-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #ddd2d5;
    margin-bottom: 20px;
}
.selected-filters {
    margin-bottom: 15px;
}
.badge-filter {
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.filter-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.nav-profile {
    display: flex;
    align-items: center;
}
#profile-logo {
    border-radius: 50%;
    margin-left: 10px;
}
.form-select[multiple] {
    height: auto;
}
.badge{
    color:white;
}

/*применить фильтры*/
.btn-primary{
    background-color: #ff7ba8;
    border-color: #da7b9a;
}
.btn-primary:hover{
/*
    background-color: #ff256e;
    border-color: #da7b9a;
    */
    border-color: #ff8db3;
    background-color: rgba(255, 247, 250, 0.862);
    color: #ff8db3;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus{
    background-color: #ff256e !important;
    border-color: #da7b9a !important;
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.25rem rgb(240, 178, 207) !important; /* розовая тень */
    outline: 0; /* убираем стандартный outline */
}

/* по калориям */
.btn-success{
    background-color: #ff7ba8;
    border-color: #da7b9a;
}
.btn-success:hover{
/*
    background-color: #ff256e;
    border-color: #da7b9a;
    */
    border-color: #ff8db3;
    background-color: rgba(255, 247, 250, 0.862);
    color: #ff8db3;
}
.btn-success:active,
.btn-success.active,
.btn-success:active:focus{
    background-color: #ff256e !important;
    border-color: #da7b9a !important;
}
.btn-success:focus{
    box-shadow: 0 0 0 0.25rem rgb(240, 178, 207) !important; /* розовая тень */
    outline: 0; /* убираем стандартный outline */
}

/* подробнее */
.btn-outline-primary{
    border-color: #da7b9a;
    color: #ff7ba8;
}
.btn-outline-primary:hover{
/*
    border-color: #ff6798;
    color: white;
    background-color: #ff256e;*/
    border-color: #f179a1;
    color: white;
    background-color: #f179a1;
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:active:focus{
    background-color: #ff256e !important;
    border-color: #da7b9a !important;
}
.btn-outline-primary:focus{
    box-shadow: 0 0 0 0.25rem rgb(240, 178, 207) !important; /* розовая тень */
    outline: 0; /* убираем стандартный outline */
}

/* сбросить */
.btn-secondary{
    background-color: #ff7ba8;
    border-color: #da7b9a;
}
.btn-secondary:hover{
/*
    background-color: #ff256e;
    border-color: #da7b9a;
    */
    border-color: #ff8db3;
    background-color: rgba(255, 247, 250, 0.862);
    color: #ff8db3;
}
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:active:focus{
    background-color: #ff256e !important;
    border-color: #da7b9a !important;
}
.btn-secondary:focus{
    box-shadow: 0 0 0 0.25rem rgb(240, 178, 207) !important
    outline: 0;
}

/* поиск */
.form-control:focus{
    border-color: #da7b9a !important;
    box-shadow: 0 0 0 0.25rem rgb(240, 178, 207) !important;
}
.dropdown-menu.inner {
    background-color: #ff69b4 !important;
  }
  .dropdown-item {
    color: white !important;
    background-color: transparent !important;
  }
  .dropdown-item:hover {
    background-color: #ff1493 !important;
  }
  .btn-pink {
    background-color: #ff69b4 !important;
    color: white !important;
  }

.btn-close{
    background-color: #ff8db3;
    border: solid 3px #ff8db3;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-size: cover;
}
